# Enable mod_rewrite
RewriteEngine On

# Remove .php extension from URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Optional: If you want to redirect any .php URLs to the clean version without the extension, uncomment the following lines
# RewriteCond %{THE_REQUEST} "^[^ ]+ /(.+)\.php([#?][^ ]*)? HTTP/"
# RewriteRule ^(.+)\.php$ /$1 [R=301,L]
